[MASTER]
extension-pkg-whitelist=numpy,torch
disable=R0903,E1102 # E1102: because of 'th.tensor is not callable' error

[TYPECHECK]
ignored-modules=numpy,torch
ignored-classes=numpy,torch

[FORMAT]
max-line-length=120

[SIMILARITIES]
ignore-imports=yes