language: python
cache: pip
python:
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov
# command to run tests
script:
  # - flake8 --exclude=venv* --statistics
  - pytest
after_success:
  - codecov