language: python
python:
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov pytest-cov mypy pylint
# command to run tests
script:
  - pytest -v --cov
  - mypy fll
  - pylint --fail_under=10 fll
after_success:
  - codecov