language: python
python:
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov pytest-cov mypy pylint-fail-under
# command to run tests
script:
  - pytest -v --cov
  - mypy FLL
  - pylint-fail-under --fail_under 10.0 fll
after_success:
  - codecov