absl-py==0.9.0
adabound==0.0.5
adanet==0.8.0
addict==2.2.1
adversarial-robustness-toolbox==1.1.0
aiohttp==3.6.2
albumentations==0.4.3
alembic==1.3.3
alpha-vantage==2.1.3
altair==4.0.1
amqp==2.5.2
aniso8601==7.0.0
annoy==1.16.3
ansiwrap==0.8.4
appdirs==1.4.3
arrow==0.15.5
asn1crypto==1.3.0
astor==0.8.0
astroid==2.3.3
astropy==4.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
audioread==2.1.8
Augmentor==0.2.8
autocommand==2.2.1
autograd==1.3
autograd-gamma==0.4.1
autokeras==1.0.0
autopep8==1.5
backcall==0.1.0
bandit==1.6.2
bayesian-optimization==1.0.1
bcrypt==3.1.7
beautifulsoup4==4.8.2
billiard==3.6.1.0
black==19.10b0
blaze==0.10.1
bleach==3.1.0
blessings==1.7
blis==0.4.1
bokeh==2.0.2
boltons==20.0.0
boto==2.49.0
boto3==1.11.9
botocore==1.14.9
bottle==0.12.18
Bottleneck==1.3.1
bqplot==0.12.2
branca==0.3.1
bs4==0.0.1
cachetools==3.1.1
cassandra-driver==3.21.0
catalogue==1.0.0
category-encoders==2.1.0
celery==4.4.0
certifi==2020.4.5.2
certipy==0.1.3
cffi==1.13.2
chainer==7.1.0
chardet==3.0.4
chart-studio==1.0.0
classy-vision==0.2.0
Click==7.0
cliff==2.18.0
cloudant==2.12.0
cloudpickle==1.2.2
cma==2.7.0
cmd2==0.8.9
colorama==0.4.3
colorlog==4.1.0
colorlover==0.3.0
combo==0.0.8
comet-git-pure==0.19.16
comet-ml==3.1.13
conda==4.8.1
conda-build==3.18.11
conda-package-handling==1.6.0
configobj==5.0.6
configparser==4.0.2
confuse==1.0.0
contextlib2==0.6.0.post1
coremltools==3.2
coverage==4.5.4
cryptography==2.8
cssselect==1.1.0
cufflinks==0.17.0
cupy-cuda101==7.1.1
cx-Oracle==7.3.0
cycler==0.10.0
cymem==2.0.3
cysignals==1.10.2
Cython==0.29.14
cytoolz==0.10.1
dask==2.9.2
dask-glm==0.2.0
dask-ml==1.2.0
databricks-cli==0.9.1
dataset==1.2.0
datashape==0.5.2
datasketch==1.5.0
deap==1.3.1
decorator==4.4.1
defusedxml==0.6.0
dgl==0.4.2
diamond==4.0.515
dill==0.2.7.1
distributed==2.9.3
dm-sonnet==1.35
dm-tree==0.1.5
docker==4.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
dparse==0.4.1
edward==1.3.5
elasticsearch==7.5.1
eli5==0.10.1
empyrical==0.5.3
en-core-web-sm==2.2.5
entrypoints==0.3
enum34==1.1.6
et-xmlfile==1.0.1
everett==1.0.2
fabric==2.5.0
facets-overview==1.0.0
fairseq==0.9.0
faiss==1.6.1
fake-useragent==0.1.11
fastai==1.0.60
fastapi==0.47.1
fastcache==1.1.0
fastprogress==0.2.2
fastrlock==0.4
fastscript==0.1.4
fasttext==0.9.1
featuretools==0.13.1
filelock==3.0.12
fire==0.2.1
flake8==3.7.9
flashtext==2.7
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
folium==0.10.1
foolbox==2.3.0
freetype-py==2.1.0.post1
fs==2.4.11
ftfy==5.6
funcy==1.14
future==0.18.2
fuzzywuzzy==0.17.0
gast==0.3.3
gensim==3.8.1
geocoder==1.38.1
geographiclib==1.50
geojson==2.5.0
geomet==0.1.2
geoplotlib==0.3.2
geopy==1.20.0
gin-config==0.3.0
gitdb2==2.0.6
GitPython==3.0.5
Glances==3.1.3
glob2==0.7
gluoncv==0.6.0
gluonnlp==0.8.3
google-api-core==1.16.0
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.23.1
google-cloud-core==1.2.0
google-cloud-storage==1.25.0
google-images-download==2.8.0
google-pasta==0.1.8
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
googledrivedownloader==0.4
gorilla==0.3.0
gpflow==1.5.1
gpustat==0.6.0
GPUtil==1.4.0
gpytorch==1.0.1
gql==0.2.0
graphene==2.1.8
graphql-core==1.1
graphql-relay==2.0.1
graphviz==0.8.4
grpcio==1.29.0
gunicorn==20.0.4
gym==0.15.4
h5py==2.10.0
HeapDict==1.0.1
holoviews==1.12.7
htmlmin==0.1.12
httpie==2.0.0
hyperopt==0.2.3
idna==2.8
imageai==2.1.5
ImageHash==4.0
imageio==2.6.1
imageio-ffmpeg==0.4.2
imbalanced-learn==0.6.1
imgaug==0.3.0
importlib-metadata==1.3.0
importlib-resources==1.0.2
imutils==0.5.3
inflect==4.0.0
influxdb==5.2.3
invoke==1.4.0
ipydatawidgets==4.0.1
ipykernel==5.1.3
ipympl==0.4.1
ipyparallel==6.2.4
ipython==7.11.1
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jax==0.1.58
jaxlib==0.1.37
jdcal==1.4.1
jedi==0.15.2
jellyfish==0.7.2
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
json5==0.8.5
jsonpickle==1.2
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-http-over-ws==0.0.7
jupyter-kernel-gateway==2.4.0
jupyter-latex-envs==1.4.6
jupyter-lsp==0.7.0b0
jupyter-nbextensions-configurator==0.4.1
jupyter-server-proxy==1.2.0
jupyter-telemetry==0.0.4
jupyter-tensorboard==0.1.10
Jupyter-Tooling-Extension==0.1
jupyterhub==1.1.0
jupyterlab==1.2.5
jupyterlab-code-formatter==1.0.3
jupyterlab-git==0.9.0
jupyterlab-server==1.0.6
jupytext==1.3.2
kafka-python==1.4.7
kaggle==1.5.6
keract==3.0.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-rl==0.4.2
keras-tuner==1.0.1
keras-vis==0.4.1
kiwisolver==1.1.0
kmodes==0.10.1
kombu==4.6.7
kornia==0.1.4.post2
langid==1.1.6
lazy-object-proxy==1.4.3
lazycluster==0.1.1
libarchive-c==2.8
librosa==0.7.2
lief==0.9.0
lifelines==0.23.8
lightfm==1.15
lightgbm==2.3.1
lime==0.1.1.37
line-profiler==3.0.2
llvmlite==0.31.0
lmdb==0.98
lxml==4.4.2
lz4==3.0.2
Mako==1.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.3.0
matplotlib==3.1.1
mccabe==0.6.1
MechanicalSoup==0.12.0
memory-profiler==0.57.0
mesh-tensorflow==0.1.9
metaflow==2.0.1
metric-learn==0.5.0
micawber==0.5.1
minio==5.0.7
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlflow==1.5.0
mlxtend==0.17.0
mmdnn==0.2.5
mock==3.0.5
modin==0.7.0
mongo-connector==3.1.1
more-itertools==8.0.2
morecvutils==1.0.2
motor==2.1.0
moviepy==1.0.3
mpmath==1.1.0
mrjob==0.7.1
msgpack==1.0.0
msgpack-numpy==0.4.4.3
multidict==4.7.4
multipledispatch==0.6.0
multitasking==0.0.9
munch==2.5.0
murmurhash==1.0.2
mxnet-cu101mkl==1.5.1.post0
mysqlclient==1.4.6
nbconvert==5.6.1
nbdev==0.2.9
nbdime==1.1.0
nbformat==4.4.0
nbinteract==0.2.4
nbresuse==0.3.3
nbval==0.9.4
neo4j-driver==1.7.6
neobolt==1.7.16
neotime==1.7.4
nest-asyncio==1.3.3
netifaces==0.10.9
networkx==2.4
nevergrad==0.3.1
nltk==3.4.5
nose==1.3.7
nose2==0.9.1
notebook==6.0.2
numba==0.47.0
numexpr==2.7.1
numpy==1.18.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
odo==0.5.0
olefile==0.46
onnx==1.6.0
onnxruntime-gpu==1.1.1
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
openpyxl==2.4.11
opt-einsum==3.1.0
optuna==1.0.0
packaging==19.2
pamela==1.0.0
pandas==0.25.3
pandas-datareader==0.8.1
pandas-flavor==0.1.2
pandas-gbq==0.13.0
pandas-profiling==2.4.0
pandas-summary==0.0.7
pandasql==0.7.3
pandocfilters==1.4.2
papermill==1.2.1
param==1.9.3
paramiko==2.7.1
parse==1.14.0
parso==0.5.2
path==13.1.0
path.py==12.4.0
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.4
pexpect==4.7.0
phe==1.4.0
phik==0.9.8
pickleDB==0.9.2
pickleshare==0.7.5
Pillow==6.2.2
pipdeptree==0.13.2
pivottablejs==0.9.0
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.8.1
pluggy==0.13.1
plyfile==0.7.1
portalocker==1.5.2
portpicker==1.3.1
preshed==3.0.2
prettytable==0.7.2
proglog==0.1.9
progressbar==2.5
progressbar2==3.47.0
prometheus-client==0.7.1
prometheus-flask-exporter==0.12.1
promise==2.3
prompt-toolkit==3.0.2
protobuf==3.11.2
psutil==5.6.7
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.8.1
py-cpuinfo==5.0.0
py-spy==0.3.2
py3nvml==0.2.5
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyAudioAnalysis==0.2.5
pybind11==2.4.3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycuda==2019.1.2
pydantic==1.4
pydata-google-auth==0.2.1
pydocstyle==5.0.2
pydot==1.4.1
pydub==0.23.1
pyecharts==1.6.2
pyee==6.0.0
pyemd==0.5.1
pyflakes==2.1.1
PyFunctional==1.3.0
pyglet==1.3.2
Pygments==2.5.2
pygpu==0.7.6
pyhdb==0.3.4
pyinstrument==3.1.0
pyinstrument-cext==0.2.2
pyjanitor==0.20.0
pylama==7.7.1
pyLDAvis==2.1.2
pylint==2.4.4
pymdstat==0.4.2
pymongo==3.10.1
PyMySQL==0.9.3
PyNaCl==1.3.0
pyod==0.7.7.1
pyodbc==4.0.28
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.7.0
Pyphen==0.9.5
pyppeteer==0.0.25
pyquery==1.4.1
pyro-api==0.1.1
pyro-ppl==1.2.1
pyrsistent==0.15.6
PySocks==1.7.1
pyte==0.8.0
pytesseract==0.3.2
pytest==5.3.4
pytest-cov==2.10.1
pytest-pylint==0.14.1
pytextrank==2.0.0
python-crontab==2.4.0
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.0
python-json-logger==0.1.11
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
python-slugify==4.0.0
python-socketio==4.6.0
python-utils==2.3.0
pythreejs==2.1.1
pytools==2020.1
pytorch-ignite==0.3.0
pytorch-lightning==0.6.0
pytorch-nlp==0.5.0
pytorch-ranger==0.1.1
pytz==2019.3
pyviz-comms==0.7.3
PyWavelets==1.1.1
PyYAML==5.2
pyzmq==18.1.0
qgrid==1.2.0
querystring-parser==1.2.4
ranger-fm==1.9.3
ratelim==0.1.6
rdflib==4.2.2
records==0.5.3
redis==3.3.11
rednose==1.3.0
regex==2019.12.9
remote-ikernel==0.4.6
requests==2.22.0
requests-html==0.10.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rope==0.16.0
rsa==4.0
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.0
Rx==1.6.1
s3transfer==0.3.2
sacrebleu==1.4.3
sacred==0.8.1
sacremoses==0.0.38
safety==1.8.5
scalene==0.6.3
scikit-cuda==0.5.3
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-optimize==0.5.2
scikit-plot==0.3.7
scikit-surprise==1.1.0
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
semantic-version==2.8.5
Send2Trash==1.5.0
sentencepiece==0.1.85
sentry-sdk==0.15.1
shap==0.34.0
Shapely==1.6.4.post2
shortuuid==1.0.1
simpervisor==0.3
simplejson==3.17.0
six==1.13.0
sklearn-pandas==1.8.0
skorch==0.7.0
smart-open==1.9.0
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve==1.9.5
spacy==2.2.3
spacy-transformers==0.5.1
SpeedTorch==0.1.6
SQLAlchemy==1.3.13
sqlparse==0.3.0
srsly==1.0.1
stanfordnlp==0.2.0
starlette==0.12.9
statsmodels==0.11.0
stevedore==1.31.0
stop-words==2018.7.23
stopit==1.1.2
stormssh==0.7.0
streamz==0.5.2
subprocess32==3.5.4
suod==0.0.2
supervisor==4.1.0
supervisor-stdout==0.1.1
syft==0.2.3
syft-proto==0.2.1a1.post2
tables==3.6.1
tablib==1.0.0
tabulate==0.8.3
tblib==1.6.0
tenacity==6.0.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.0
tensorflow==2.2.0
tensorflow-addons==0.9.1
tensorflow-datasets==2.0.0
tensorflow-estimator==2.2.0
tensorflow-federated==0.14.0
tensorflow-gpu==2.1.0
tensorflow-graphics==1.0.0
tensorflow-graphics-gpu==1.0.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.21.0
tensorflow-model-optimization==0.3.0
tensorflow-privacy==0.3.0
tensorflow-probability==0.9.0
tensorflow-text==2.0.1
tensorflowonspark==2.1.3
tensorlayer==2.2.1
tensorly==0.4.5
tensorpack==0.9.8
tensorwatch==0.8.7
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
termstyle==0.1.11
tesserocr==2.5.0
testpath==0.4.4
text-unidecode==1.3
textacy==0.9.1
textblob==0.15.3
textdistance==4.1.5
textwrap3==0.9.2
tf-explain==0.2.0
tflearn==0.3.2
Theano==1.0.4
thefuck==3.29
thinc==7.3.1
thundersvm==0.3.3
tinydb==3.15.2
tokenizers==0.2.1
toml==0.10.0
toolz==0.10.0
torch==1.4.0
torch-geometric==1.3.2
torch-optimizer==0.0.1a15
torchaudio==0.4.0
torchbearer==0.5.1
torchbiggraph==1.0.0
torchcontrib==0.0.2
torchstat==0.0.7
torchtext==0.5.0
torchvision==0.5.0
tornado==6.0.3
TPOT==0.11.1
tqdm==4.41.1
traitlets==4.3.3
traittypes==0.2.1
transformers==2.3.0
tsfresh==0.13.0
tslearn==0.3.0
typed-ast==1.4.1
typeguard==2.7.1
typing==3.7.4.1
typing-extensions==3.7.4.1
ujson==1.35
umap-learn==0.3.10
update-checker==0.16
urllib3==1.25.7
vega==2.6.0
vega-datasets==0.8.0
vine==1.3.0
virtualenv==16.7.9
vispy==0.6.4
vowpalwabbit==8.8.0
w3lib==1.21.0
wandb==0.9.1
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wordcloud==1.6.0
wrapt==1.11.2
wurlitzer==2.0.1
xarray==0.14.1
xgboost==0.90
xlearn==0.40a1
xlrd==1.2.0
xmltodict==0.12.0
yapf==0.29.0
yappi==1.2.3
yarl==1.4.2
yellowbrick==1.0.1
yfinance==0.1.54
you-get==0.4.1388
zict==1.0.0
zipp==0.6.0
zstd==1.4.4.0
